<footer class="footer">
  <div class="container footer-content">
    <div class="footer-brand">
      <a routerLink="/" class="footer-logo-link">
        <img src="logo.png" alt="TNA WEB Logo" class="footer-logo-img">
      </a>
      <p>Advertising, Branding & Corporate film makers.</p>
    </div>
    <div class="footer-links">
      <h3>Explore</h3>
      <a routerLink="/portfolio">Our Work</a>
      <a routerLink="/services">Capabilities</a>
      <a routerLink="/contact">Get in touch</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 TNA WEB. All Rights Reserved.</p>
  </div>
</footer>
